*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main .form-box{
    width: 380px;
    height: 480px;
    position: relative;
    background-color: rgba(255,255,255,0.842 );
    box-shadow: 0 0 20px 9px #6865641e;
    border-radius: 35px;
    margin: 6% auto;
    padding: 10px;
    overflow: hidden;
}

.main .form-box .button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px #220d051a;
    border-radius: 35px;
}

.main .form-box .button-box .toggle-btn{
    position: relative;
    padding: 10px 30px;
    border: none;
    background: transparent;
    outline: none;
    font-size: 13px;
    font-weight: bolder;
    cursor: pointer;
}

#btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #1c1c2e, #087fce);
    border-radius: 35px;
    transition: .5s;
}

.main .form-box .button-box button:nth-child(2){
    color: #fff;
}

.main .form-box .social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .form-box .social-icons lottie-player{
    width: 50px;
    margin: 0 12px;
    cursor: pointer;
}

.main .form-box .input-group{
    position: absolute;
    top: 180px;
    width: 280px;
    transition: 0.5s;
}

.main .form-box .input-group .input-field{
    width: 100%;
    padding: 10px 0;
    border: none;
    margin: 5px 0;
    background: transparent;
    border-bottom: 1px solid rgba(153,153,153,0.705);
    outline: none;
}

.main .form-box .input-group .submit-btn{
    display: block;
    width: 85%;
    padding: 10px;
    border: none;
    background: linear-gradient(to right, #1c1c2e, #087fce );
    border-radius: 35px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    margin: auto;
    outline: none;
    
}

.main .form-box .input-group .submit-btn:hover{
    background: linear-gradient(to right,  #087fce,#1c1c2e );
    box-shadow: 0 0 20px 9px #6865641e;
    transition: all 0.8s;
    
}

.main .form-box .input-group a{
    display: inline-block;
    text-decoration: none;
    color: #777;
    margin: 30px 10px 30px 0;
    font-size: 12px;
}

#Login{
    left: 50px;

}

#Register{
    left: 450px;
}